@font-face {
    font-family: rubik;
    src: url(assets/Rubik/Rubik-VariableFont_wght.ttf);
}

body {
    display: flex;
    height: 100vh;
}

#calculator {
    border: 2px solid red;
    background-color: pink;
    padding: 20px;
    margin: auto;
    width: 300px;
    height: 400px;
}

#display {
    border: 2px solid blue;
    background-color: aquamarine;
    height: 80px;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    height: calc(300px - 4px)
}

.columns {
    display: flex;
    gap: 5px;
    flex: 1 1 0%;
}

/* Select each individual column */
.columns > div {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 5px;
}

.column-1 button {
    height: 115px;
    gap: 5px;
}

.column-1 ~ div button {
    height: 55px;
}

.row {
    height: 55px;
}

#percentage {
    visibility: hidden;
}

button {
    font-size: 2em;
    font-family: rubik, sans-serif;
}